@import "loader.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.navbar {
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #eaecef;
  .navbar-menu {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-left: 2rem;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 500px;
  text-align:  center;
}

.item {
  overflow: hidden;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
}

a {
  text-decoration: none;
  color: #272829;
}
a:hover {
  border-bottom: 2px solid #3eaf7c;
}
///////////////
.square-container {
  display: flex;
  flex-wrap: wrap;

  -webkit-perspective: 1200;
  perspective: 1200;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.square {
  position: relative;
  flex-basis: calc(50% - 10px);
  margin: 5px;
  border: 10px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  z-index: 1;
  transform-style: preserve-3d;
  transition: 0.7s linear;
  &::before {
    content: "";
    display: block;
    padding-top: 100%;
    z-index: -2;
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.5);
    backface-visibility: hidden;
  }
}

.front {
  z-index: 1;
  transform: rotateX(0deg);
}
.back {
  transform: rotateX(-180deg);
  color: white;
}
